@font-face {
    font-family: tildaSans;
    src: url(/_next/static/media/d38c738626897aa9-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: tildaSans;
    src: url(/_next/static/media/316da271d1a2637e-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: tildaSans;
    src: url(/_next/static/media/86176b2c181a1a74-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: tildaSans;
    src: url(/_next/static/media/ed52b9e0cce9dd53-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: tildaSans;
    src: url(/_next/static/media/a7caa8f01e5478ef-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: tildaSans;
    src: url(/_next/static/media/37d4f325703a4d26-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: tildaSans;
    src: url(/_next/static/media/6d68dbbc84dcd6d0-s.p.woff) format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: tildaSans Fallback;
    src: local("Arial");
    ascent-override:100.12%;descent-override:26.21%;line-gap-override:0.00%;size-adjust:94.99%}

.__className_a73604 {
    font-family: tildaSans,tildaSans Fallback
}

.__variable_a73604 {
    --font-tilda-sans: "tildaSans","tildaSans Fallback"
}

@font-face {
    font-family: teletactile;
    src: url(/_next/static/media/7cdb42337822a042-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: teletactile Fallback;
    src: local("Arial");
    ascent-override:42.12%;descent-override:7.02%;line-gap-override:5.01%;size-adjust:179.49%}

.__className_041254 {
    font-family: teletactile,teletactile Fallback
}

.__variable_041254 {
    --font-teletactile: "teletactile","teletactile Fallback"
}

@font-face {
    font-family: teletactileCyr;
    src: url(/_next/static/media/c8b4b04322c4c1d3-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: teletactileCyr Fallback;
    src: local("Arial");
    ascent-override:68.87%;descent-override:15.29%;line-gap-override:0.00%;size-adjust:217.81%}

.__className_65bfb4 {
    font-family: teletactileCyr,teletactileCyr Fallback
}

.__variable_65bfb4 {
    --font-teletactile-cyr: "teletactileCyr","teletactileCyr Fallback"
}

@font-face {
    font-family: teletactileCaseSensitive;
    src: url(/_next/static/media/b0b615cf8b99f151-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: teletactileCaseSensitive Fallback;
    src: local("Arial");
    ascent-override:83.90%;descent-override:18.64%;line-gap-override:0.00%;size-adjust:153.24%}

.__className_73f0e3 {
    font-family: teletactileCaseSensitive,teletactileCaseSensitive Fallback
}

.__variable_73f0e3 {
    --font-teletactile-case-sensitive: "teletactileCaseSensitive","teletactileCaseSensitive Fallback"
}
